.bg {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -200px;
    text-align: center;
    z-index: -1000001;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.annex-look {
    background-color: #0D345D;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    line-height: 1;
    min-width: 160px;
    border: 2px solid #11325b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.annex-exit {
    background-color: #1b5b45;
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    line-height: 1;
    min-width: 160px;
    border: 2px solid #1b5b45;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.annex-exit.active, .annex-exit:hover {
    background-color: white;
    color: #1b5b45
}

.annex-look.active, .annex-look:hover {
    background-color: white;
    color: #0D345D
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.popup_inner {
    background-color: #fff;
    padding: 40px 45px 40px 35px;
    max-height: 90%;
    overflow: auto;
}

.table {
    margin-bottom: 20px;
    margin-top: 20px;
}

.table table thead {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: center;
}

.table table {
    width: 100%;
}

.table th {
    border-top: none;
}

.modal-header {
    border-bottom: 1px solid #0d345d;
}
